(function() {
    'use strict';

    angular
        .module('{{constants.module}}')
        .controller('{{name|first_upper}}Controller', {{name|first_upper}}Controller);

    {{name|first_upper}}Controller.$inject = [];

    function {{name|first_upper}}Controller() {
        var vm = this;
    }
})();
