describe('{{name|first_upper}}Controller', function() {
    var $scope, $controller, ctrl;

    beforeEach(function() {
        module('{{constants.module}}')
    });

    beforeEach(inject(function(_$controller_, $rootScope) {
        $controller = _$controller_;
        $scope = $rootScope.$new();
        ctrl = $controller('{{name|first_upper}}Controller as {{name|first_upper}}Ctrl', {$scope: scope});
    }));

    describe('method', function() {
        it('should ', function() {});
    });
});

