describe('{{name|first_lower}}Service', function() {
    var {{name|first_lower}}Service;

    beforeEach(function() {
        module('{{constants.module}}')
    });

    beforeEach(inject(function(_{{name|first_lower}}Service_) {
        {{name|first_lower}}Service = _{{name|first_lower}}Service_;
    }));

    describe('doSomething', function() {
        it('should ', function() {

        });
    });
});