(function() {
    'use strict';

    angular
        .module('{{constants.module}}')
        .filter('{{name|first_lower}}', {{name|first_lower}});

    function {{name|first_lower}}() {
        return {{name|first_lower}}Filter;

        function {{name|first_lower}}Filter(input) {
            return input;
        }
    }
})();