describe('{{name}}Service', function() {
    var {{name}}Service;

    beforeEach(function() {
        module('{{constants.module}}')
    });

    beforeEach(inject(function) (_{{name}}Service_) {
        {{name}}Service = _{{name}}Service_;
    });

    describe('method', function() {
        it('should ', function() {

        });
    });
});