(function() {

  function {{name}}Service() {
      function f() {}

      return {
        f: f
      }
  }

  angular
    .module('{{constants.module}}')
    .factory('{{name}}Service', {{name}}Service);

})();
